body {
  height: 100vh;
  font-family: 'FiraGO', sans-serif;
  /* font-feature-settings: 'case' on; */
  background-color: #fffaf6;
}

.main-container {
  padding: 30px 20px 0px 20px;
  /* height: 100%; */
  width: 990px !important;
  max-width: 990px !important;
  min-width: 990px !important
}

.svg-div {
  height: 420px;
}

.about-us {
  font-size: 15px;
  text-align: left;
  font-feature-settings: 'case' on;
}

.last-update {
  font-size: 9px;
  text-align: right;
  font-feature-settings: 'case' on;
}

.message {
  font-size: 30px;
  font-weight: bold;
  font-feature-settings: 'case' on;
}

.message-text {
  display: block;
  font-size: 16px;
  margin-top: 10px;
  color: #a29f9f;
  width: 1200px;
  font-feature-settings: 'case' on;
}

.add-message {
  margin-top: 10px;
  margin-bottom: 30px;
  font-feature-settings: 'case' on;
}

.add-message-btn {
  color: white;
  font-size: 19px;
  background-color: #737070;
  border-radius: 40px;
  padding: 10px;
  border: none;
  font: bold;
  font-feature-settings: 'case' on
}

.add-message-btn:hover {
  background-color: #444444;
}

.add-message-row {
  text-align: center;
}

.help-text {
  font-size: 13px;
  font-feature-settings: 'case' on;
}

.message-rectangle {
  display: flex;
  height: 32px;
}

.message-row {
  cursor: pointer;
  height: 40px;
}

.text-center-legend {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 30px;
}


.message-box {
  opacity: 0.1
}

.message-box.all-legend {
  width: 16px !important;
  background-color: #378fc1;
  opacity: 1;
}

.message-box.label {
  width: 16px !important;
  background-color: #E29896;
}

.message-box.scare {
  width: 16px !important;
  background-color: #AD98F9;
}

.message-box.information {
  width: 16px !important;
  background-color: #7DC7BF;
}

.message-box.anti-western {
  width: 16px !important;
  background-color: #8FC8F2;
}

.message-box.values {
  width: 16px !important;
  background-color: #F0C987;
}

.text-message {
  text-align: left;
  margin-left: 4px;
  width: 132px;
  inline-size: 250px;
  font-feature-settings: 'case' on;
  font-size: 11px;
}

.circle-size-text {
  margin-top: 30px;
  font-size: 12px;
  color: #a29f9f;
  font-feature-settings: 'case' on;
}

.circle-text {
  display: block;
}

.government {
  font-size: 12px;
  text-align: left;
  margin-top: 17px;
  font-feature-settings: 'case' on;
}

.others {
  font-size: 12px;
  text-align: right;
  margin-top: 17px;
  font-feature-settings: 'case' on;
}

.terminologies {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 9px;
  width: 450px;
  border-bottom-width: 10px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  transform: translateY(14px);
  font-feature-settings: 'case' on;
  text-align: center
}

.message-line {
  margin-top: 8px;
  font-feature-settings: 'case' on;
  text-align: center;
}

.horizontal-space-line {
  background-color: black;
  min-width: 900px;
  max-width: 1000px;
  height: 0.05em;
}

.vertical-space-line-transparent {
  background-color: transparent;
  width: 2px;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.vertical-space-line-black {
  background-color: black;
  width: 1px;
  height: 100%;
  align-items: center;
}

.message-author {
  font-size: 11px;
  text-align: center;
  margin-top: 30px;
  font-feature-settings: 'case' on;
  text-align: center;
}

.message-quote {
  text-align: left;
  font-size: 14px;
}

.quote-date {
  font-size: 11px;
  font-weight: 300;
  font-feature-settings: 'case' on;
}

.quotes-section {
  margin-top: 20px;
  opacity: 0
}

.quotes {
  padding-top: 0px;
}

.quote-text {
  font-feature-settings: 'case' on;
}


.tv {
  font-size: 11px;
  color: #001dc8;
  cursor: pointer;
  font-feature-settings: 'case' on;
  white-space: nowrap;

}

.tv a {
  text-decoration: none;
  color: #001dc8;
}

.quote-underline {
  height: 0.05em;
  background-color: #001dc8;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-grow: 1;
}

.quote-underline-tv {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pr-1 {
  padding-right: 0.3rem
}

.pl-1 {
  padding-left: 0.3rem
}

.author-image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.author-name {
  margin-top: 10px;
  width: 80px;
  line-height: 1em;
}

.amountOfQuotes {
  font-size: 15px;
  font-weight: 100;
  text-align: center;
}

.make-shadow {
  border: 1px solid;
  box-shadow: 500px 100px red;
}

.legend-container {
  padding-top: 0px;
}

/* .circle-node {
  border-radius: 50%;
  box-shadow: 0 0 0 3px #e78267;
} */

.logo-header {
  margin-bottom: 2px;
}

.circle-shadow {
  filter: drop-shadow(0 0 0.75rem #E29896)
}